<div *ngIf="showLoginForm === false && showRegisterForm === false" class="h-screen">
    <nav class="fixed w-screen bg-maincolor border-textcolor dark:bg-maincolor">
        <div class="flex flex-wrap items-center justify-between p-4">
            <a href="/home" class="flex items-center">
                <img src="../assets/logo.png" class="h-8 mr-2" alt="Algida Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-textcolor">Algida</span>
            </a>
            <div class="flex md:order-1">
                <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search"
                    aria-expanded="false"
                    class="md:hidden text-buttoncolor dark:text-buttoncolor rounded-lg text-sm p-2.5 mr-1">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
                <div class="relative hidden md:block mr-32" style="width: 400px;">
                    <div routerLink="/search"
                        class="absolute inset-y-0 left-0 flex items-center pl-3 hover:cursor-pointer">
                        <svg class="w-4 h-4 text-buttoncolor dark:text-buttoncolor" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Search icon</span>
                    </div>
                    <input type="text" id="search-navbar"
                        class="block w-full p-2 pl-10 text-sm text-maincolor border border-buttoncolor rounded-2xl dark:text-maincolor dark:placeholder-textcolor dark:text-textcolor"
                        placeholder="Search...">
                </div>
                <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar"
                    aria-controls="default-sidebar" type="button"
                    class="inline-flex items-center p-2 mt-0 ml-3 text-sm rounded-lg md:hidden text-buttoncolor dark:text-buttoncolor rounded-lg">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
                <div class="relative mt-3 md:hidden">
                    <div routerLink="/search"
                        class="absolute inset-y-0 left-0 flex items-center pl-3 hover:cursor-pointer">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="search-navbar"
                        class="block w-full p-2 pl-10 text-sm text-maincolor border border-buttoncolor rounded-2xl dark:text-maincolor dark:placeholder-textcolor dark:text-textcolor"
                        placeholder="Search...">
                </div>
            </div>
        </div>
    </nav>


    <div class="md:ml-64 md:mr-64">
        <aside id="default-sidebar"
            class="fixed mt-0 md:mt-17 left-0 z-40 w-64 h-full transition-transform -translate-x-full md:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-maincolor dark:bg-maincolor">
                <ul class="space-y-2 font-medium">
                    <li>
                        <a routerLink="/home"
                            class="flex items-center p-2 text-textcolor rounded-lg dark:text-textcolor dark:hover:bg-lightcolor">
                            <svg *ngIf="router.url !== '/home'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6 dark:text-textcolor transition duration-75 dark:text-gray-400 group-hover:text-textcolor dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                            <svg *ngIf="router.url === '/home'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6 dark:text-textcolor transition duration-75 dark:text-gray-400 group-hover:text-textcolor dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                            <span [ngClass]="{'opacity-75' : router.url !== '/home'}"
                                class="ml-3 text-textcolor">Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/profile"
                            class="flex items-center p-2 text-textcolor rounded-lg dark:text-textcolor dark:hover:bg-lightcolor">
                            <svg *ngIf="router.url !== '/profile'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 dark:text-gray-400 group-hover:text-textcolor dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                            <svg *ngIf="router.url === '/profile'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 dark:text-gray-400 group-hover:text-textcolor dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>

                            <span [ngClass]="{'opacity-75' : router.url !== '/profile'}"
                                class="flex-1 ml-3 whitespace-nowrap text-textcolor">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/friends"
                            class="flex items-center p-2 text-textcolor rounded-lg dark:text-textcolor  dark:hover:bg-lightcolor">
                            <svg *ngIf="router.url !== '/friends'" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 group-hover:text-textcolor dark:text-gray-400 dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                            </svg>
                            <svg *ngIf="router.url === '/friends'" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 group-hover:text-textcolor dark:text-gray-400 dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                            </svg>
                            <span [ngClass]="{'opacity-75' : router.url !== '/friends'}"
                                class="flex-1 ml-3 whitespace-nowrap text-textcolor">Friends</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/messages"
                            class="flex items-center p-2 text-textcolor rounded-lg dark:text-textcolor  dark:hover:bg-lightcolor">
                            <svg *ngIf="router.url !== '/messages'" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 group-hover:text-textcolor dark:text-gray-400 dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                            </svg>
                            <svg *ngIf="router.url === '/messages'" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 group-hover:text-textcolor dark:text-gray-400 dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                            </svg>
                            <span [ngClass]="{'opacity-75' : router.url !== '/messages'}"
                                class="flex-1 ml-3 whitespace-nowrap text-textcolor">Messages</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a
                            class="flex items-center p-2 text-textcolor rounded-lg dark:text-textcolor  dark:hover:bg-lightcolor">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="red"
                                class="flex-shrink-0 w-6 h-6 dark:text-textcolor transition duration-75 dark:text-gray-400 group-hover:text-textcolor dark:group-hover:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap text-textcolor">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="flex hidden md:block">
            <div class="fixed mt-17 bg-maincolor z-41 dark:bg-maincolor right-0 w-64 h-screen overflow-y-scroll">
                <p class="ml-5 mt-2 font-medium text-xl text-textcolor">Friends</p>
                <ul>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                    <app-friends></app-friends>
                </ul>
            </div>
        </div>
        <router-outlet class="p-2 md:p-5"></router-outlet>
    </div>
</div>

<app-login *ngIf="showLoginForm === true && showRegisterForm === false"></app-login>

<app-register *ngIf="showLoginForm === false && showRegisterForm === true"></app-register>