<div class="mt-17 grid grid-cols-12 gap-5 mx-5 h-screen">
    <div class="col-span-12 h-fit w-full bg-maincolor rounded-3xl">
        <p class="ml-6 font-medium text-2xl mt-4 text-textcolor">
            Add new post
        </p>
        <hr class="mt-5 mx-5">
        <div class="editor mx-auto w-10/12 flex flex-col text-textcolor p-4 max-w-2xl">
            <textarea class="description bg-lightcolor sec p-3 h-32 border outline-none rounded-2xl" spellcheck="true"
                placeholder="What's on your mind today?" id="createPostContent"></textarea>
            <div class="buttons flex mt-2">
                <button
                    class="btn border p-1 px-4 font-semibold cursor-pointer text-textcolor ml-auto bg-lightcolor rounded-2xl">
                    Cancel</button>
                <button
                    class="btn border border-textcolor p-1 px-4 font-semibold cursor-pointer text-textcolor ml-2 bg-buttoncolor rounded-2xl"
                    (click)="addNewPost()">
                    Post</button>
            </div>
        </div>
    </div>
    <div class="col-span-12 h-fit w-full bg-maincolor rounded-3xl p-4">
        <p class="ml-6 font-medium text-2xl mt-2 mb-5 text-textcolor">
            Posts
        </p>
        <hr class="mt-5 mx-1 mb-5">
          <app-post *ngFor="let post of dashboardPosts" [post]="post"></app-post>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation example">
          <ul class="flex items-center h-10 text-base justify-center m-5 mb-0">
            <li>
              <button (click)="onPageChange(currentPage - 1)" *ngIf="currentPage > 1"
                class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-text-textcolor bg-backgroundcolor border border-buttoncolor rounded-l-lg hover:bg-lightcolor hover:text-gray-700">
                <!-- Previous link content -->
                Prev
              </button>
            </li>
            
            <!-- Page number buttons -->
            <li *ngFor="let page of pageNumbersArray">
              <button (click)="onPageChange(page)"
                class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700">{{ page }}</button>
            </li>
        
            <li>
              <button (click)="onPageChange(currentPage + 1)" *ngIf="currentPage < pageNumbersArray.length"
                class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor rounded-r-lg hover:bg-lightcolor hover:text-gray-700">
                <!-- Next link content -->
                Next
              </button>
            </li>
          </ul>
        </nav>
    </div>
</div>