<div class="grid grid-cols-12 gap-5 mx-5 h-screen overflow-y-scroll">
    <div class="col-span-12 h-fit w-full bg-maincolor rounded-3xl">
        <p class="ml-6 font-medium text-2xl mt-4 text-textcolor">
            Add new post
        </p>
        <hr class="mt-5 mx-5">
        <div class="editor mx-auto w-10/12 flex flex-col text-textcolor p-4 max-w-2xl">
            <textarea class="description bg-lightcolor sec p-3 h-32 border outline-none rounded-2xl" spellcheck="false"
                placeholder="Describe everything about this post here"></textarea>
            <!-- buttons -->
            <div class="buttons flex mt-2">
                <div
                    class="btn border p-1 px-4 font-semibold cursor-pointer text-textcolor ml-auto bg-lightcolor rounded-2xl">
                    Cancel</div>
                <div
                    class="btn border border-textcolor p-1 px-4 font-semibold cursor-pointer text-textcolor ml-2 bg-buttoncolor rounded-2xl">
                    Post</div>
            </div>
        </div>
    </div>
    <div class="col-span-12 h-fit w-full bg-maincolor rounded-3xl p-4">
        <p class="ml-6 font-medium text-2xl mt-2 mb-5 text-textcolor">
            Posts
        </p>
        <hr class="mt-5 mx-1 mb-5">
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
        <nav aria-label="Page navigation example">
            <ul class="flex items-center h-10 text-base justify-center m-5">
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-text-textcolor bg-backgroundcolor border border-buttoncolor rounded-l-lg hover:bg-lightcolor hover:text-gray-700 ">
                        <span class="sr-only">Previous</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">1</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">2</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">3</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">4</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">5</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor rounded-r-lg hover:bg-lightcolor hover:text-gray-700 ">
                        <span class="sr-only">Next</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>