<li class="m-3 sm:py-2 rounded-3xl hover:bg-backgroundcolor hover:cursor-pointer"
    [ngClass]="isSelected === true ? 'bg-backgroundcolor' : ''">
    <div class="flex items-center space-x-4">
        <div class="flex-shrink-0 ml-3">
            <img class="w-12 h-12 rounded-full" src="https://source.unsplash.com/75x75/?portrait" alt="Neil image">
        </div>
        <div class="flex-1 min-w-0">
            <p class="text-lg font-medium text-gray-900 truncate dark:text-textcolor">
                {{friend.firstName + " " + friend.lastName}}
            </p>
        </div>
    </div>
</li>
<hr class="mt-3">