<div class="h-screen mt-17">
    <div class="grid grid-cols-12 gap-5 mx-5 bg-maincolor rounded-3xl">
        <div class="col-span-12 w-full rounded-3xl">
            <p class="ml-6 font-medium text-2xl mt-4 mb-5 text-textcolor">
                Friends
            </p>
            <div class="relative mx-5" style="max-width: 400px;">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-buttoncolor dark:text-buttoncolor" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search icon</span>
                </div>
                <input type="text" id="search-navbar"
                    class="block w-full p-2 pl-10 text-sm text-maincolor border border-buttoncolor rounded-2xl dark:text-maincolor dark:placeholder-textcolor dark:text-textcolor"
                    placeholder="Search your friends...">
            </div>
            <hr class="mt-5 mx-5">
            <div>
                <app-friend-profile *ngFor="let friend of allFriends" [userData]="friend"></app-friend-profile>
            </div>
        </div>
        <div class="col-span-12">
            <nav aria-label="Page navigation example">
                <ul class="flex items-center h-10 text-base justify-center mb-5">
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-text-textcolor bg-backgroundcolor border border-buttoncolor rounded-l-lg hover:bg-lightcolor hover:text-gray-700 ">
                            <span class="sr-only">Previous</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 1 1 5l4 4" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">1</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">2</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">3</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">4</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor hover:bg-lightcolor hover:text-gray-700 ">5</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-textcolor bg-backgroundcolor border border-buttoncolor rounded-r-lg hover:bg-lightcolor hover:text-gray-700 ">
                            <span class="sr-only">Next</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>