<div class="h-screen mt-17">
    <div class="grid grid-cols-12 gap-5 mx-5 bg-maincolor rounded-3xl">
        <div class="col-span-12 w-full rounded-3xl">
            <p class="ml-6 font-medium text-2xl mt-4 mb-5 text-textcolor">
                Friends
            </p>
            <div class="relative mx-5" style="max-width: 400px;">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-buttoncolor dark:text-buttoncolor" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search icon</span>
                </div>
                <input type="text" id="search-navbar" [(ngModel)]="searchParam" (keydown.enter)="searchFollowedUsersByName()"
                    class="block w-full p-2 pl-10 text-sm text-maincolor border border-buttoncolor rounded-2xl dark:text-maincolor dark:placeholder-textcolor dark:text-textcolor"
                    placeholder="Search your friends...">
            </div>
            <hr class="mt-5 mx-5">
            <div>
                <app-friend-profile *ngFor="let friend of allFriends" [userData]="friend"></app-friend-profile>
            </div>
        </div>
        <div class="col-span-12">
          
        </div>
    </div>
</div>