<div class="mt-17 grid grid-cols-12 gap-5 mx-5">
    <div class="col-span-12 h-full w-full bg-maincolor rounded-3xl">
        <p class="ml-6 font-medium text-2xl mt-4 text-textcolor">
            Messages
        </p>
        <hr class="mt-5 mx-5">
        <div class="m-5 grid grid-cols-12">
            <div class="col-span-12 md:col-span-3 border rounded-3xl">
                <ul style="max-height: 700px; overflow-y: scroll;" id="friends">
                    <app-messages-friends *ngFor="let friend of messagesFriends"
                        [friend]="friend"></app-messages-friends>
                </ul>
            </div>
            <div class="col-span-1 w-0.5 ml-5 h-full bg-gray-200"></div>
            <div class="col-span-12 md:col-span-8" id="messages">
                <div class="grid grid-rows-1">
                    <div class="row-start-1 mt-5 md:mt-0"
                        style="max-height: 650px; min-height: 650px; overflow-y: scroll;" id="scrollable-content">
                        <app-message-bubble></app-message-bubble>
                    </div>
                </div>
                <form>
                    <label for="chat" class="sr-only">Your message</label>
                    <div class="flex items-center px-3 py-2 rounded-lg bg-backgroundcolor">
                        <input id="chat"
                            class="block mx-4 p-2.5 w-full text-sm text-textcolor bg-lightcolor rounded-lg border border-gray-300"
                            placeholder="Your message..." style="overflow-wrap: break-word;">
                        <button type="submit"
                            class="inline-flex justify-center p-2 text-buttoncolor rounded-full cursor-pointer">
                            <svg class="w-5 h-5 rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 18 20">
                                <path
                                    d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                            </svg>
                            <span class="sr-only">Send message</span>
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>