<div class="h-screen">
    <div class="grid grid-cols-12 gap-5 mx-5 bg-maincolor ">
        <div class="col-span-12 w-full rounded-3xl h-screen overflow-y-scroll">
            <p class="ml-6 font-medium text-2xl mt-4 mb-5 text-textcolor">
                Search results
            </p>
            <hr class="mt-5 mx-5">
            <div>
                <div>
                    <app-search-profile *ngFor="let user of allUsers" [userData]="user"></app-search-profile>
                </div>
            </div>
            <div class="col-span-12">
            </div>
        </div>
    </div>