<a class="mx-auto block mt-3 p-3 md:p-6 bg-lightcolor border border-gray-200 rounded-lg shadow dark:bg-lightcolor">
    <h5 class="mb-2 text-3xl font-bold tracking-tight text-textcolor dark:text-textcolor">
        {{post.firstName + " " + post.lastName}}</h5>
    <p class="font-normal text-lg text-textcolor dark:text-textcolor">{{post.content}}</p>
    <hr class="mt-5">
    <div class="grid grid-cols-12 gap-1">
        <div class="col-span-12 md:col-span-3">
            <button type="button" *ngIf="!post.isLiked" (click)="likePost()"
                class="mt-4 text-buttoncolor border border-textcolor hover:bg-textcolor hover:text-buttoncolor focus:ring-4 focus:outline-none focus:ring-buttoncolor font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 18 18">
                    <path
                        d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z" />
                </svg>
            </button>
            <button type="button" *ngIf="post.isLiked" (click)="unlikePost()"
            class="mt-4 text-buttoncolor border border-textcolor bg-textcolor text-buttoncolor focus:ring-4 focus:outline-none focus:ring-buttoncolor font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 18 18">
                <path
                    d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z" />
            </svg>
        </button>
            <div class="mb-2 inline text-lg ml-2 mt-3 font-medium text-textcolor">Liked by {{post.likes}} people</div>
        </div>
        <div class="col-span-12 md:col-start-6 md:col-span-2 md:text-center mt-4">
            <button *ngIf="comments == false" (click)="showComments()"
                class="items-center py-2.5 px-4 text-xs font-medium text-center text-textcolor bg-buttoncolor rounded-lg">
                Show comments
            </button>

            <button *ngIf="comments == true" (click)="showComments()"
                class="items-center py-2.5 px-4 text-xs font-medium text-center text-textcolor bg-buttoncolor rounded-lg">
                Hide comments
            </button>
        </div>
    </div>

    <section [ngClass]="{'hidden' : comments === false}" class="bg-lightcolor dark:bg-lightcolor py-5">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-textcolor dark:text-textcolor">Comments</h2>
            </div>
            <div class="mb-6">
                <div
                    class="py-2 px-4 mb-4 bg-lightcolor rounded-lg rounded-t-lg border border-buttoncolor dark:bg-lightcolor">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="createCommentForm-{{post.id}}" rows="2"
                        class="px-0 w-full text-sm bg-lightcolor text-textcolor border-0 focus:ring-0 focus:outline-none dark:placeholder-textcolor dark:bg-lightcolor"
                        placeholder="Write a comment..." required></textarea>
                </div>
                <button type="button" (click)="addCommentToPost()"
                    class="items-center py-2.5 px-4 text-xs font-medium text-center text-textcolor bg-buttoncolor rounded-lg">
                    Post comment
                </button>
            </div>
            <app-comment *ngFor="let comment of post.comments" [comment]="comment"></app-comment>
        </div>
    </section>
</a>