<a href="#" class="mx-auto block mt-3 p-6 bg-lightcolor border border-gray-200 rounded-lg shadow dark:bg-lightcolor">
    <h5 class="mb-2 text-3xl font-bold tracking-tight text-textcolor dark:text-textcolor">
        Author name</h5>
    <p class="font-normal text-lg text-textcolor dark:text-textcolor">Here are the biggest enterprise technology
        acquisitions of 2021 so far, in reverse chronological order.</p>
    <hr class="mt-5">
    <button type="button"
        class="mt-4 text-buttoncolor border border-textcolor hover:bg-textcolor hover:text-buttoncolor focus:ring-4 focus:outline-none focus:ring-buttoncolor font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 18 18">
            <path
                d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z" />
        </svg>
    </button>
    <div class="absolute inline text-lg ml-2 mt-6 font-medium text-textcolor">Liked by 34 people</div>

    <section class="bg-lightcolor dark:bg-lightcolor py-5">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-textcolor dark:text-textcolor">Comments</h2>
            </div>
            <form class="mb-6">
                <div
                    class="py-2 px-4 mb-4 bg-lightcolor rounded-lg rounded-t-lg border border-buttoncolor dark:bg-lightcolor">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="comment" rows="2"
                        class="px-0 w-full text-sm bg-lightcolor text-lightcolor border-0 focus:ring-0 focus:outline-none dark:placeholder-textcolor dark:bg-lightcolor"
                        placeholder="Write a comment..." required></textarea>
                </div>
                <button type="submit"
                    class="items-center py-2.5 px-4 text-xs font-medium text-center text-textcolor bg-buttoncolor rounded-lg">
                    Post comment
                </button>
            </form>
            <article
                class="p-6 mb-6 text-base bg-lightcolor border border-buttoncolor rounded-lg dark:bg-backgroundcolor">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-textcolor"><img
                                class="mr-2 w-6 h-6 rounded-full"
                                src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                alt="Michael Gough">Michael Gough</p>
                        <p class="text-sm text-textcolor dark:text-textcolor"><time pubdate datetime="2022-02-08"
                                title="February 8th, 2022">Feb. 8, 2022</time></p>
                    </div>
                </footer>
                <p class="text-textcolor dark:text-textcolor">Very straight-to-point article. Really worth time reading.
                    Thank
                    you! But tools are just the
                    instruments for the UX designers. The knowledge of the design tools are as important as the
                    creation of the design strategy.</p>
            </article>
        </div>
    </section>
</a>