/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 100vw;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #727272;
    cursor: pointer;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: rgb(255, 255, 255) #212121;
    }
}