<article class="p-6 mb-6 text-base bg-lightcolor border border-buttoncolor rounded-lg dark:bg-backgroundcolor">
    <footer class="flex justify-between items-center mb-2">
        <div class="flex items-center">
            <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-textcolor"><img
                    class="mr-2 w-6 h-6 rounded-full"
                    src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                    alt="Michael Gough">{{comment.firstName + " " + comment.lastName}}</p>
            <p class="text-sm text-textcolor dark:text-textcolor">{{comment.createdAt | date : 'short'}}</p>
        </div>
    </footer>
    <p class="text-textcolor dark:text-textcolor">{{comment.content}}</p>
</article>